In [2]:
import pandas as pd

df = pd.read_csv(r'D:\Jupyter\Data\auto_ins.csv',encoding='gb2312')
df

,EngSize,Age,Gender,Marital,exp,Owner,vAge,Garage,AntiTFD,import,Loss
0,2.0,56,男,已婚,20,公司,10,有,有防盗装置,进口,0.0
1,1.8,41,男,已婚,20,公司,9,有,无防盗装置,国产,0.0
2,2.0,44,男,未婚,20,公司,8,有,有防盗装置,国产,0.0
3,1.6,56,男,已婚,20,公司,7,有,有防盗装置,国产,0.0
4,1.8,45,男,已婚,20,公司,7,无,无防盗装置,国产,0.0
...,...,...,...,...,...,...,...,...,...,...,...
4228,1.8,22,女,未婚,0,私人,1,有,有防盗装置,国产,976.0
4229,2.5,22,男,未婚,0,私人,1,有,无防盗装置,进口,855.6
4230,1.8,21,男,未婚,0,私人,1,有,无防盗装置,国产,0.0
4231,1.8,21,女,未婚,0,私人,1,有,无防盗装置,进口,3328.0
4232,2.4,21,女,未婚,0,私人,1,有,无防盗装置,进口,1564.0

#### 相关系数矩阵

In [3]:
df.corr()

          EngSize       Age       exp      vAge      Loss
EngSize  1.000000  0.024241  0.046952 -0.016511  0.029473
Age      0.024241  1.000000  0.194068 -0.009421 -0.003972
exp      0.046952  0.194068  1.000000  0.218670  0.008241
vAge    -0.016511 -0.009421  0.218670  1.000000 -0.017301
Loss     0.029473 -0.003972  0.008241 -0.017301  1.000000

#### 观测多重共线性

In [5]:
df.corr().applymap(lambda x: '' if x < 0.8 else x)    # 相关系数小于0.8的不显示

        EngSize Age exp vAge Loss
EngSize       1
Age               1
exp                   1
vAge                       1
Loss                            1