##### 学习链接：

OneHotEncoder 和 get_dummies：https://www.jianshu.com/p/c0edaff3835d

scikit-learn 中 OneHotEncoder 解析：https://www.cnblogs.com/zhoukui/p/9159909.html

#### 不同函数说明

sklearn.preprocessing.OrdinalEncoder()：把X值中的分类变量编码为数值型有序变量。

sklearn.preprocessing.OneHotEncoder()：把X值中的分类变量编码为哑变量。【不用于y值】

sklearn.preprocessing.LabelEncoder()：把y值（可以是数值型和字符型）编码为数值型有序变量。

sklearn.preprocessing.LabelBinarizer()：把y值中多分类变量编码为二分类变量。【用于y值】

#### 从数据库导入数据

In [91]:
import pymysql.cursors
import pandas as pd

db = pymysql.connect(host='localhost',user='root',password='root',db='lagou',charset='utf8',cursorclass=pymysql.cursors.DictCursor)
cursor = db.cursor()
sql = 'SELECT * FROM dataset;'
cursor.execute(sql)
result = cursor.fetchall()
df = pd.DataFrame(list(result))
db.close()

df

,jobNature,companySize,workYear,education,industryField,thirdType,salaryMin,salaryMax,nameUnfit,positionId,...,financeStage,firstType,secondType,district,salary,resumeProcessRate,resumeProcessDay,score,famousCompany,isFocus
0,全职,500-2000人,1-3年,本科,旅游,数据分析,18,35,0,6112946,...,D轮及以上,开发|测试|运维类,数据开发,福田区,18k-35k,100,1,199,0,1
1,全职,500-2000人,3-5年,本科,"消费生活,移动互联网",商业,15,25,0,6229664,...,C轮,产品|需求|项目类,数据分析,南山区,15k-25k,100,1,179,0,1
2,全职,2000人以上,5-10年,本科,金融,建模,15,30,0,6853427,...,上市公司,开发|测试|运维类,数据开发,福田区,15k-30k,100,1,130,1,0
3,全职,2000人以上,1-3年,本科,金融,Hadoop,20,30,0,6692363,...,不需要融资,开发|测试|运维类,数据开发,南山区,20k-30k,100,2,89,0,0
4,全职,2000人以上,1-3年,大专,"移动互联网,游戏",数据分析,8,10,0,6835783,...,不需要融资,产品|需求|项目类,数据分析,南山区,8k-10k,0,1,69,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270,全职,2000人以上,3-5年,本科,社交,产品经理,15,25,1,5276304,...,上市公司,产品|需求|项目类,产品经理,南山区,15k-25k,100,1,10,1,0
271,全职,2000人以上,3-5年,本科,社交,数据挖掘,18,35,0,6842800,...,上市公司,开发|测试|运维类,数据开发,南山区,18k-35k,100,1,10,1,1
272,全职,2000人以上,3-5年,本科,社交,数据分析,20,40,0,5250466,...,上市公司,产品|需求|项目类,数据分析,南山区,20k-40k,100,1,10,1,1
273,全职,2000人以上,1-3年,本科,金融,数据分析,20,30,0,6391267,...,未融资,开发|测试|运维类,数据开发,南山区,20k-30k,15,1,4,1,0
274,全职,2000人以上,3-5年,本科,金融,数据运营,20,30,0,6823600,...,未融资,运营|编辑|客服类,运营,南山区,20k-30k,15,1,4,1,0

### 一、使用pd.get_dummies()

【优点】只转换分类变量，原数值变量继续保留——符合预期。

In [102]:
import pandas as pd

df_dummies = pd.get_dummies(df)
df_dummies

,salaryMin,salaryMax,nameUnfit,resumeProcessRate,resumeProcessDay,score,famousCompany,isFocus,jobNature_全职,jobNature_兼职,...,salary_7k-13k,salary_7k-14k,salary_8k-10k,salary_8k-11k,salary_8k-12k,salary_8k-13k,salary_8k-15k,salary_8k-16k,salary_9k-12k,salary_9k-14k
0,18,35,0,100,1,199,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,15,25,0,100,1,179,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
2,15,30,0,100,1,130,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,20,30,0,100,2,89,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,8,10,0,0,1,69,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270,15,25,1,100,1,10,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
271,18,35,0,100,1,10,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
272,20,40,0,100,1,10,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
273,20,30,0,15,1,4,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
274,20,30,0,15,1,4,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0

### 二、使用sklearn.preprocessing.OneHotEncoder()

【不足】原来的数值变量也一起转换；新的变量名看不出字段含义。

In [92]:
from sklearn.preprocessing import OneHotEncoder
import pandas as pd
import numpy as np

enc = OneHotEncoder(dtype=np.int, sparse=False)

In [107]:
array = enc.fit_transform(df)
columns = enc.get_feature_names()
df_enc = pd.DataFrame(array, columns=columns)
df_enc

,x0_全职,x0_兼职,x0_实习,x1_15-50人,x1_150-500人,x1_2000人以上,x1_50-150人,x1_500-2000人,x1_少于15人,x2_1-3年,...,x19_68,x19_69,x19_89,x19_130,x19_179,x19_199,x20_0,x20_1,x21_0,x21_1
0,1,0,0,0,0,0,0,1,0,1,...,0,0,0,0,0,1,1,0,0,1
1,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,1,0,0,1
2,1,0,0,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,1,1,0
3,1,0,0,0,0,1,0,0,0,1,...,0,0,1,0,0,0,1,0,1,0
4,1,0,0,0,0,1,0,0,0,1,...,0,1,0,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
271,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
272,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
273,1,0,0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,1,1,0
274,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0

#### 属性

In [108]:
enc.categories_

[array(['全职', '兼职', '实习'], dtype=object),
 array(['15-50人', '150-500人', '2000人以上', '50-150人', '500-2000人', '少于15人'],
       dtype=object),
 array(['1-3年', '1年以下', '3-5年', '5-10年', '不限', '应届毕业生'], dtype=object),
 array(['不限', '大专', '本科', '硕士'], dtype=object),
 array(['人工智能', '企业服务', '企业服务,其他', '企业服务,数据服务', '企业服务,移动互联网', '企业服务,金融',
        '信息安全,数据服务', '其他', '医疗丨健康,移动互联网', '广告营销', '广告营销,企业服务', '房产家居',
        '教育', '教育,移动互联网', '数据服务', '数据服务,企业服务', '数据服务,软件开发', '文娱丨内容', '旅游',
        '消费生活', '消费生活,其他', '消费生活,移动互联网', '游戏', '游戏,移动互联网', '物流丨运输', '物联网',
        '电商', '电商,其他', '电商,硬件', '电商,移动互联网', '硬件', '社交', '移动互联网',
        '移动互联网,企业服务', '移动互联网,信息安全', '移动互联网,其他', '移动互联网,广告营销', '移动互联网,教育',
        '移动互联网,数据服务', '移动互联网,消费生活', '移动互联网,游戏', '移动互联网,电商', '移动互联网,社交',
        '移动互联网,金融', '软件开发', '软件开发,数据服务', '软件开发、通讯电子', '通讯电子', '金融',
        '金融,区块链', '金融,数据服务'], dtype=object),
 array(['BI', 'BI工程师', 'ETL', 'Hadoop', '业务运营', '产品经理', '其他互联网金融职位',
        '其他数据分析', '其他数据开发', '其他证券|基金|信托|期货', '其他运营', '其他银行职位', '咨询经理',
        '商业', '商业数据分析', '媒介投放', '建模', '数据产品经理', '数据分析', '数据分析师', '数据开发',
        '数据挖掘', '数据运营', '机器学习', '海外运营', '深度学习', '游戏运营', '算法工程师', '运营',
        '风控'], dtype=object),
 array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 12, 13, 14, 15, 17, 18, 20,
        21, 24, 25, 28, 30, 35, 40, 50], dtype=int64),
 array([ 2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 18, 20,
        21, 22, 23, 24, 25, 26, 28, 30, 34, 35, 36, 40, 45, 46, 50, 55, 60,
        70, 80], dtype=int64),
 array([0, 1], dtype=int64),
 array(['2428796', '3434325', '3788749', '3941822', '3966634', '4130779',
        '4222233', '4568696', '4757404', '4842134', '4870767', '4899346',
        '4958360', '4971732', '5021443', '5195111', '5222607', '5250466',
        '5269516', '5276304', '5277133', '5493916', '5523109', '5523125',
        '5523134', '5523143', '5523984', '5524909', '5614359', '5682092',
        '5694165', '5694937', '5696075', '5724546', '5756056', '5781438',
        '5799371', '5872082', '5902196', '5906062', '5947503', '5959158',
        '5959683', '6003169', '6013122', '6024033', '6028509', '6048284',
        '6064987', '6069939', '6084247', '6096579', '6112946', '6114830',
        '6129101', '6132180', '6150625', '6197469', '6216651', '6224226',
        '6229664', '6245345', '6250133', '6252530', '6265336', '6269734',
        '6286737', '6296422', '6296519', '6318196', '6326461', '6348397',
        '6368397', '6391267', '6398869', '6400740', '6401293', '6407877',
        '6407908', '6418806', '6425281', '6427825', '6435554', '6451034',
        '6468418', '6469854', '6470681', '6474297', '6474903', '6498982',
        '6500205', '6500367', '6501999', '6505684', '6509478', '6512939',
        '6534630', '6548591', '6554482', '6564618', '6565883', '6575933',
        '6597408', '6600382', '6605036', '6606296', '6619007', '6620116',
        '6621222', '6634626', '6639129', '6642667', '6646820', '6658244',
        '6658980', '6664147', '6664611', '6672478', '6677582', '6681651',
        '6690801', '6692363', '6695020', '6695029', '6698243', '6701364',
        '6702307', '6717753', '6719432', '6721519', '6728438', '6732528',
        '6738594', '6739557', '6740669', '6743544', '6747774', '6753687',
        '6753987', '6755979', '6758017', '6763020', '6764821', '6765224',
        '6770129', '6770261', '6771363', '6774526', '6775126', '6775912',
        '6776475', '6777833', '6782767', '6783440', '6788479', '6788494',
        '6788503', '6788509', '6792708', '6793094', '6794577', '6800110',
        '6801645', '6802800', '6803362', '6805615', '6807222', '6808286',
        '6808955', '6809539', '6812643', '6815792', '6817369', '6817579',
        '6819993', '6823600', '6826393', '6827158', '6832986', '6834454',
        '6835425', '6835783', '6836502', '6836660', '6838721', '6842800',
        '6843827', '6844308', '6846079', '6848935', '6849796', '6853427',
        '6858033', '6858171', '6858294', '6861328', '6862112', '6865708',
        '6866005', '6866430', '6868351', '6872272', '6872708', '6874637',
        '6877623', '6877660', '6878486', '6879471', '6879591', '6879773',
        '6881685', '6881913', '6882513', '6882558', '6886806', '6888096',
        '6891949', '6891977'], dtype=object),
 array(['29912-数据分析-运营开发', 'BI 数据分析师 - Data Analyst', 'BI 数据分析师 - 物流方向',
        'BI数据分析师', 'CSIG- 数据分析高级工程师', 'GA数据分析专员', 'HAK-高级数据分析师',
        'KKJ-互联网产品经理(数据建模产品设计)', 'PCG01-QQ后台高级数据分析工程师',
        'PCG09-QQ看点数据分析工程师（深圳/北京）', 'PCG09-信息流产品高级数据分析师（深圳/北京）',
        'PCG10-信息流数据分析产品经理', 'PCG15-互动视频大数据分析高级工程师', 'PCG22-增长数据分析师',
        'SA-腾讯社交广告数据分析工程师（微信广告 深圳）', 'VBA数据分析师', 'XLF-数据分析经理(数据分析)',
        'YFX-数据分析经理', 'YFX-数据分析经理(小微企业)', 'ZGR-产品运营经理(数据分析)', 'sz-数据分析',
        '业务建模数据分析师', '中高级数据分析师', '产品经理（数据分析平台）', '产品经理（数据分析）',
        '信息流数据分析产品经理', '商业数据分析师', '商业数据分析师-华南', '商业数据分析经理', '固定收益部-数据分析师',
        '基金数据分析员', '大数据分析与挖掘工程师', '大数据分析助理', '大数据分析岗', '大数据分析工程师',
        '大数据分析师', '大数据分析师助理', '大数据分析开发工程师', '大数据分析组实习生（行为金融学方向）',
        '安全大数据分析与挖掘专家', '实习岗-数据分析', '广告数据分析师', '开放世界MMORPG手游高级数据分析师（深圳）',
        '微视数据分析师', '总行信息技术部大数据分析及管理岗', '投资并购部-数据分析员', '数据分析',
        '数据分析 (MJ001046)', '数据分析-增长', '数据分析专员', '数据分析专家', '数据分析中级经理',
        '数据分析产品经理', '数据分析助理', '数据分析助理+可接受应届生', '数据分析助理6215', '数据分析员',
        '数据分析实习生', '数据分析实习生 (MJ001345)', '数据分析实习生(J10489)', '数据分析实习生-【快影】',
        '数据分析实习生-用户增长方向', '数据分析小组leader', '数据分析岗（运营）', '数据分析工程师',
        '数据分析工程师-Toc Group', '数据分析师', '数据分析师 (MJ000967)', '数据分析师 — 创新工具',
        '数据分析师(商业方向，中高级）', '数据分析师(商业方向，初级）', '数据分析师(客服)', '数据分析师-02',
        '数据分析师-会员', '数据分析师-深圳', '数据分析师04', '数据分析师助理', '数据分析师助理&nbsp;',
        '数据分析师（ETL方向）', '数据分析师（UGC）', '数据分析师（京喜）', '数据分析师（另类数据方向）',
        '数据分析师（商品方向）', '数据分析师（商户运营方向)', '数据分析师（实习）', '数据分析师（挖掘方向）',
        '数据分析师（推广渠道方向）', '数据分析师（数据科学方向）', '数据分析师（数据资产方向）', '数据分析师（材料电商方向）',
        '数据分析师（汽车行业）', '数据分析师（电商方向）', '数据分析师（网店运营方向）', '数据分析师（银行项目）',
        '数据分析经理', '数据分析经理(004725)', '数据分析运营', '数据分析运营经理', '数据分析（楼盘库存管理）',
        '数据分析（渠道方向）', '数据应用工程师(偏数据分析+数据可视化)', '数据建模', '数据建模岗', '数据建模工程师',
        '数据挖掘工程师-数据建模', '日语股票数据分析员', '海外游戏数据分析师', '海外运营专员（广告数据分析方向）',
        '游戏数据分析师', '游戏数据分析师（全球市场）', '游戏数据分析师（应届生）', '游戏运营-数据分析方向',
        '游戏运营（数据分析方向）', '电商数据分析主任工程师', '管理运营部门-数据分析师', '股票数据分析员', '腾讯数据分析',
        '腾讯看点数据挖掘/数据分析工程师', '腾讯音乐数据分析高级工程师', '证券数据分析工程师（深圳）', '贝壳-数据分析师',
        '资深\\高级数据分析师（互联网）', '资深数据分析师', '资深数据分析师(J11772)', '运营数据分析师',
        '金融/银行/互联网 数据分析 数据挖掘岗', '金融量化数据分析实习生', '风控数据分析师',
        '风控数据分析师(J10279)', '风控（海外）策略及数据分析工程师（深圳）', '风险分析/数据建模',
        '高级数据分析工程师', '高级数据分析工程师（深圳）', '高级数据分析工程师（线上讲师）', '高级数据分析师',
        '高级数据分析师-faceu', '高级数据分析师（数据挖掘）', '高级数据分析师（深圳）',
        '高级数据分析师（深圳） (MJ000046)'], dtype=object),
 array(['AKULAKU', 'Amber Group', 'BLUE', 'BT学院', 'CMGE中手游', 'DJI大疆创新',
        'Deep Lens Fund', 'Gridsum 国双', 'GrowingIO', 'KLOOK 客路旅行', 'OPPO',
        'SHEIN', 'Shopee', 'TCL', 'TOUCH', 'TRIWIN GAMES', 'WeLab卫盈联',
        'YIDATEC', 'iPIN.com', 'is smart', 'vivo', 'wlaike', '一面数据',
        '万兴科技集团股份有限公司', '万顺叫车', '中数智云', '乐信', '乐凯撒比萨', '乐家云计算有限公司', '乐易网络',
        '买买提信息科技', '云天励飞', '云途物流', '亚联财小额贷款', '京东集团', '众智辰', '优乐学科技', '传易',
        '佰聆数据', '全棉时代', '八号仓奥特莱斯', '八爪鱼', '冰川网络', '凯儿得乐', '创梦天地',
        '前海百川投资管理咨询', '千寻万物', '华为技术有限公司', '华安保险', '华策', '卓轩科技', '合生科技',
        '吉比特', '唯艾咨询', '土巴兔', '字节跳动', '安信易技术', '安徽省刀锋网络科技有限公司', '富途',
        '小鹅（小鹅通）', '尚游游戏', '希为科技', '平安产险', '微众信科', '微众银行', '微创软件', '志伏贸易',
        '快手', '思空', '悦动', '懒人听书', '招商证券信息技术中心', '招商银行', '招联金融', '招银网络科技',
        '数神科技', '昊飞网络', '晨星Morningstar', '杰豪科技', '极光', '梦享网络', '汇合',
        '沃菲数字营销', '法克曼', '淘乐网络', '深圳华秋电子有限公司', '深圳市丰巢科技有限公司',
        '深圳市嘉鸿网络科技有限公司', '深圳市晨北科技有限公司', '游戏宅', '爱美购', '爱问医联', '白骑士',
        '百果科技', '百融云创', '盒子科技', '神策数据', '禅游', '立创商城', '索信达数据', '美的电商',
        '腾讯', '自如网', '芯鑫金科', '蓝色光标SNK', '贝壳', '货拉拉', '超级猩猩健身', '跨海侠',
        '路通网络', '辉耀互娱', '迷你玩', '酷开网络', '金蝶', '钱大妈', '长亮科技', '长城证券',
        '阿卡索外教网', '顺丰-丰e足食', '顺丰科技有限公司', '顺丰速运', '风变科技（深圳）有限公司', '飞诺达',
        '高灯科技', '麦风科技'], dtype=object),
 array(['A轮', 'B轮', 'C轮', 'D轮及以上', '上市公司', '不需要融资', '天使轮', '未融资'],
       dtype=object),
 array(['产品|需求|项目类', '商业服务|专业服务', '市场|商务类', '开发|测试|运维类', '运营|编辑|客服类',
        '金融类'], dtype=object),
 array(['互联网金融', '产品经理', '人工智能', '咨询|调研', '媒介|公关', '市场|营销', '数据分析', '数据开发',
        '证券|基金|信托|期货', '运营', '银行'], dtype=object),
 array(['南山区', '宝安区', '福田区', '罗湖区', '龙华新区', '龙岗区'], dtype=object),
 array(['10k-12k', '10k-15k', '10k-16k', '10k-18k', '10k-20k', '12k-15k',
        '12k-18k', '12k-20k', '12k-22k', '12k-24k', '13k-20k', '13k-23k',
        '13k-25k', '14k-25k', '15k-20k', '15k-25k', '15k-28k', '15k-30k',
        '17k-28k', '18k-25k', '18k-30k', '18k-35k', '18k-36k', '1k-2k',
        '20k-21k', '20k-25k', '20k-30k', '20k-34k', '20k-35k', '20k-40k',
        '21k-26k', '24k-45k', '25k-45k', '25k-50k', '28k-46k', '2k-3k',
        '2k-4k', '30k-60k', '35k-55k', '35k-70k', '3k-4k', '3k-5k',
        '3k-6k', '40k-80k', '4k-6k', '4k-8k', '50k-70k', '5k-10k', '5k-6k',
        '5k-7k', '5k-8k', '5k-9k', '6k-10k', '6k-12k', '6k-8k', '7k-10k',
        '7k-12k', '7k-13k', '7k-14k', '8k-10k', '8k-11k', '8k-12k',
        '8k-13k', '8k-15k', '8k-16k', '9k-12k', '9k-14k'], dtype=object),
 array([  0,   1,   2,   3,   4,   5,   6,   7,   9,  10,  12,  15,  17,
         18,  19,  20,  21,  22,  25,  26,  32,  33,  36,  37,  38,  40,
         41,  43,  45,  49,  56,  60,  62,  64,  65,  66,  71,  73,  75,
         76,  81,  82,  91,  92,  95,  96, 100], dtype=int64),
 array([0, 1, 2, 3, 5], dtype=int64),
 array([  0,   1,   2,   3,   4,   5,   6,   7,  10,  11,  12,  13,  14,
         15,  16,  17,  18,  22,  24,  26,  27,  28,  29,  52,  53,  56,
         60,  68,  69,  89, 130, 179, 199], dtype=int64),
 array([0, 1], dtype=int64),
 array([0, 1], dtype=int64)]

In [109]:
enc.get_feature_names()

array(['x0_全职', 'x0_兼职', 'x0_实习', 'x1_15-50人', 'x1_150-500人',
       'x1_2000人以上', 'x1_50-150人', 'x1_500-2000人', 'x1_少于15人', 'x2_1-3年',
       'x2_1年以下', 'x2_3-5年', 'x2_5-10年', 'x2_不限', 'x2_应届毕业生', 'x3_不限',
       'x3_大专', 'x3_本科', 'x3_硕士', 'x4_人工智能', 'x4_企业服务', 'x4_企业服务,其他',
       'x4_企业服务,数据服务', 'x4_企业服务,移动互联网', 'x4_企业服务,金融', 'x4_信息安全,数据服务',
       'x4_其他', 'x4_医疗丨健康,移动互联网', 'x4_广告营销', 'x4_广告营销,企业服务', 'x4_房产家居',
       'x4_教育', 'x4_教育,移动互联网', 'x4_数据服务', 'x4_数据服务,企业服务', 'x4_数据服务,软件开发',
       'x4_文娱丨内容', 'x4_旅游', 'x4_消费生活', 'x4_消费生活,其他', 'x4_消费生活,移动互联网',
       'x4_游戏', 'x4_游戏,移动互联网', 'x4_物流丨运输', 'x4_物联网', 'x4_电商', 'x4_电商,其他',
       'x4_电商,硬件', 'x4_电商,移动互联网', 'x4_硬件', 'x4_社交', 'x4_移动互联网',
       'x4_移动互联网,企业服务', 'x4_移动互联网,信息安全', 'x4_移动互联网,其他', 'x4_移动互联网,广告营销',
       'x4_移动互联网,教育', 'x4_移动互联网,数据服务', 'x4_移动互联网,消费生活', 'x4_移动互联网,游戏',
       'x4_移动互联网,电商', 'x4_移动互联网,社交', 'x4_移动互联网,金融', 'x4_软件开发',
       'x4_软件开发,数据服务', 'x4_软件开发、通讯电子', 'x4_通讯电子', 'x4_金融', 'x4_金融,区块链',
       'x4_金融,数据服务', 'x5_BI', 'x5_BI工程师', 'x5_ETL', 'x5_Hadoop',
       'x5_业务运营', 'x5_产品经理', 'x5_其他互联网金融职位', 'x5_其他数据分析', 'x5_其他数据开发',
       'x5_其他证券|基金|信托|期货', 'x5_其他运营', 'x5_其他银行职位', 'x5_咨询经理', 'x5_商业',
       'x5_商业数据分析', 'x5_媒介投放', 'x5_建模', 'x5_数据产品经理', 'x5_数据分析',
       'x5_数据分析师', 'x5_数据开发', 'x5_数据挖掘', 'x5_数据运营', 'x5_机器学习', 'x5_海外运营',
       'x5_深度学习', 'x5_游戏运营', 'x5_算法工程师', 'x5_运营', 'x5_风控', 'x6_1', 'x6_2',
       'x6_3', 'x6_4', 'x6_5', 'x6_6', 'x6_7', 'x6_8', 'x6_9', 'x6_10',
       'x6_12', 'x6_13', 'x6_14', 'x6_15', 'x6_17', 'x6_18', 'x6_20',
       'x6_21', 'x6_24', 'x6_25', 'x6_28', 'x6_30', 'x6_35', 'x6_40',
       'x6_50', 'x7_2', 'x7_3', 'x7_4', 'x7_5', 'x7_6', 'x7_7', 'x7_8',
       'x7_9', 'x7_10', 'x7_11', 'x7_12', 'x7_13', 'x7_14', 'x7_15',
       'x7_16', 'x7_18', 'x7_20', 'x7_21', 'x7_22', 'x7_23', 'x7_24',
       'x7_25', 'x7_26', 'x7_28', 'x7_30', 'x7_34', 'x7_35', 'x7_36',
       'x7_40', 'x7_45', 'x7_46', 'x7_50', 'x7_55', 'x7_60', 'x7_70',
       'x7_80', 'x8_0', 'x8_1', 'x9_2428796', 'x9_3434325', 'x9_3788749',
       'x9_3941822', 'x9_3966634', 'x9_4130779', 'x9_4222233',
       'x9_4568696', 'x9_4757404', 'x9_4842134', 'x9_4870767',
       'x9_4899346', 'x9_4958360', 'x9_4971732', 'x9_5021443',
       'x9_5195111', 'x9_5222607', 'x9_5250466', 'x9_5269516',
       'x9_5276304', 'x9_5277133', 'x9_5493916', 'x9_5523109',
       'x9_5523125', 'x9_5523134', 'x9_5523143', 'x9_5523984',
       'x9_5524909', 'x9_5614359', 'x9_5682092', 'x9_5694165',
       'x9_5694937', 'x9_5696075', 'x9_5724546', 'x9_5756056',
       'x9_5781438', 'x9_5799371', 'x9_5872082', 'x9_5902196',
       'x9_5906062', 'x9_5947503', 'x9_5959158', 'x9_5959683',
       'x9_6003169', 'x9_6013122', 'x9_6024033', 'x9_6028509',
       'x9_6048284', 'x9_6064987', 'x9_6069939', 'x9_6084247',
       'x9_6096579', 'x9_6112946', 'x9_6114830', 'x9_6129101',
       'x9_6132180', 'x9_6150625', 'x9_6197469', 'x9_6216651',
       'x9_6224226', 'x9_6229664', 'x9_6245345', 'x9_6250133',
       'x9_6252530', 'x9_6265336', 'x9_6269734', 'x9_6286737',
       'x9_6296422', 'x9_6296519', 'x9_6318196', 'x9_6326461',
       'x9_6348397', 'x9_6368397', 'x9_6391267', 'x9_6398869',
       'x9_6400740', 'x9_6401293', 'x9_6407877', 'x9_6407908',
       'x9_6418806', 'x9_6425281', 'x9_6427825', 'x9_6435554',
       'x9_6451034', 'x9_6468418', 'x9_6469854', 'x9_6470681',
       'x9_6474297', 'x9_6474903', 'x9_6498982', 'x9_6500205',
       'x9_6500367', 'x9_6501999', 'x9_6505684', 'x9_6509478',
       'x9_6512939', 'x9_6534630', 'x9_6548591', 'x9_6554482',
       'x9_6564618', 'x9_6565883', 'x9_6575933', 'x9_6597408',
       'x9_6600382', 'x9_6605036', 'x9_6606296', 'x9_6619007',
       'x9_6620116', 'x9_6621222', 'x9_6634626', 'x9_6639129',
       'x9_6642667', 'x9_6646820', 'x9_6658244', 'x9_6658980',
       'x9_6664147', 'x9_6664611', 'x9_6672478', 'x9_6677582',
       'x9_6681651', 'x9_6690801', 'x9_6692363', 'x9_6695020',
       'x9_6695029', 'x9_6698243', 'x9_6701364', 'x9_6702307',
       'x9_6717753', 'x9_6719432', 'x9_6721519', 'x9_6728438',
       'x9_6732528', 'x9_6738594', 'x9_6739557', 'x9_6740669',
       'x9_6743544', 'x9_6747774', 'x9_6753687', 'x9_6753987',
       'x9_6755979', 'x9_6758017', 'x9_6763020', 'x9_6764821',
       'x9_6765224', 'x9_6770129', 'x9_6770261', 'x9_6771363',
       'x9_6774526', 'x9_6775126', 'x9_6775912', 'x9_6776475',
       'x9_6777833', 'x9_6782767', 'x9_6783440', 'x9_6788479',
       'x9_6788494', 'x9_6788503', 'x9_6788509', 'x9_6792708',
       'x9_6793094', 'x9_6794577', 'x9_6800110', 'x9_6801645',
       'x9_6802800', 'x9_6803362', 'x9_6805615', 'x9_6807222',
       'x9_6808286', 'x9_6808955', 'x9_6809539', 'x9_6812643',
       'x9_6815792', 'x9_6817369', 'x9_6817579', 'x9_6819993',
       'x9_6823600', 'x9_6826393', 'x9_6827158', 'x9_6832986',
       'x9_6834454', 'x9_6835425', 'x9_6835783', 'x9_6836502',
       'x9_6836660', 'x9_6838721', 'x9_6842800', 'x9_6843827',
       'x9_6844308', 'x9_6846079', 'x9_6848935', 'x9_6849796',
       'x9_6853427', 'x9_6858033', 'x9_6858171', 'x9_6858294',
       'x9_6861328', 'x9_6862112', 'x9_6865708', 'x9_6866005',
       'x9_6866430', 'x9_6868351', 'x9_6872272', 'x9_6872708',
       'x9_6874637', 'x9_6877623', 'x9_6877660', 'x9_6878486',
       'x9_6879471', 'x9_6879591', 'x9_6879773', 'x9_6881685',
       'x9_6881913', 'x9_6882513', 'x9_6882558', 'x9_6886806',
       'x9_6888096', 'x9_6891949', 'x9_6891977', 'x10_29912-数据分析-运营开发',
       'x10_BI 数据分析师 - Data Analyst', 'x10_BI 数据分析师 - 物流方向',
       'x10_BI数据分析师', 'x10_CSIG- 数据分析高级工程师', 'x10_GA数据分析专员',
       'x10_HAK-高级数据分析师', 'x10_KKJ-互联网产品经理(数据建模产品设计)',
       'x10_PCG01-QQ后台高级数据分析工程师', 'x10_PCG09-QQ看点数据分析工程师（深圳/北京）',
       'x10_PCG09-信息流产品高级数据分析师（深圳/北京）', 'x10_PCG10-信息流数据分析产品经理',
       'x10_PCG15-互动视频大数据分析高级工程师', 'x10_PCG22-增长数据分析师',
       'x10_SA-腾讯社交广告数据分析工程师（微信广告 深圳）', 'x10_VBA数据分析师',
       'x10_XLF-数据分析经理(数据分析)', 'x10_YFX-数据分析经理', 'x10_YFX-数据分析经理(小微企业)',
       'x10_ZGR-产品运营经理(数据分析)', 'x10_sz-数据分析', 'x10_业务建模数据分析师',
       'x10_中高级数据分析师', 'x10_产品经理（数据分析平台）', 'x10_产品经理（数据分析）',
       'x10_信息流数据分析产品经理', 'x10_商业数据分析师', 'x10_商业数据分析师-华南', 'x10_商业数据分析经理',
       'x10_固定收益部-数据分析师', 'x10_基金数据分析员', 'x10_大数据分析与挖掘工程师', 'x10_大数据分析助理',
       'x10_大数据分析岗', 'x10_大数据分析工程师', 'x10_大数据分析师', 'x10_大数据分析师助理',
       'x10_大数据分析开发工程师', 'x10_大数据分析组实习生（行为金融学方向）', 'x10_安全大数据分析与挖掘专家',
       'x10_实习岗-数据分析', 'x10_广告数据分析师', 'x10_开放世界MMORPG手游高级数据分析师（深圳）',
       'x10_微视数据分析师', 'x10_总行信息技术部大数据分析及管理岗', 'x10_投资并购部-数据分析员',
       'x10_数据分析', 'x10_数据分析 (MJ001046)', 'x10_数据分析-增长', 'x10_数据分析专员',
       'x10_数据分析专家', 'x10_数据分析中级经理', 'x10_数据分析产品经理', 'x10_数据分析助理',
       'x10_数据分析助理+可接受应届生', 'x10_数据分析助理6215', 'x10_数据分析员', 'x10_数据分析实习生',
       'x10_数据分析实习生 (MJ001345)', 'x10_数据分析实习生(J10489)',
       'x10_数据分析实习生-【快影】', 'x10_数据分析实习生-用户增长方向', 'x10_数据分析小组leader',
       'x10_数据分析岗（运营）', 'x10_数据分析工程师', 'x10_数据分析工程师-Toc Group',
       'x10_数据分析师', 'x10_数据分析师 (MJ000967)', 'x10_数据分析师 — 创新工具',
       'x10_数据分析师(商业方向，中高级）', 'x10_数据分析师(商业方向，初级）', 'x10_数据分析师(客服)',
       'x10_数据分析师-02', 'x10_数据分析师-会员', 'x10_数据分析师-深圳', 'x10_数据分析师04',
       'x10_数据分析师助理', 'x10_数据分析师助理&nbsp;', 'x10_数据分析师（ETL方向）',
       'x10_数据分析师（UGC）', 'x10_数据分析师（京喜）', 'x10_数据分析师（另类数据方向）',
       'x10_数据分析师（商品方向）', 'x10_数据分析师（商户运营方向)', 'x10_数据分析师（实习）',
       'x10_数据分析师（挖掘方向）', 'x10_数据分析师（推广渠道方向）', 'x10_数据分析师（数据科学方向）',
       'x10_数据分析师（数据资产方向）', 'x10_数据分析师（材料电商方向）', 'x10_数据分析师（汽车行业）',
       'x10_数据分析师（电商方向）', 'x10_数据分析师（网店运营方向）', 'x10_数据分析师（银行项目）',
       'x10_数据分析经理', 'x10_数据分析经理(004725)', 'x10_数据分析运营', 'x10_数据分析运营经理',
       'x10_数据分析（楼盘库存管理）', 'x10_数据分析（渠道方向）', 'x10_数据应用工程师(偏数据分析+数据可视化)',
       'x10_数据建模', 'x10_数据建模岗', 'x10_数据建模工程师', 'x10_数据挖掘工程师-数据建模',
       'x10_日语股票数据分析员', 'x10_海外游戏数据分析师', 'x10_海外运营专员（广告数据分析方向）',
       'x10_游戏数据分析师', 'x10_游戏数据分析师（全球市场）', 'x10_游戏数据分析师（应届生）',
       'x10_游戏运营-数据分析方向', 'x10_游戏运营（数据分析方向）', 'x10_电商数据分析主任工程师',
       'x10_管理运营部门-数据分析师', 'x10_股票数据分析员', 'x10_腾讯数据分析',
       'x10_腾讯看点数据挖掘/数据分析工程师', 'x10_腾讯音乐数据分析高级工程师', 'x10_证券数据分析工程师（深圳）',
       'x10_贝壳-数据分析师', 'x10_资深\\高级数据分析师（互联网）', 'x10_资深数据分析师',
       'x10_资深数据分析师(J11772)', 'x10_运营数据分析师', 'x10_金融/银行/互联网 数据分析 数据挖掘岗',
       'x10_金融量化数据分析实习生', 'x10_风控数据分析师', 'x10_风控数据分析师(J10279)',
       'x10_风控（海外）策略及数据分析工程师（深圳）', 'x10_风险分析/数据建模', 'x10_高级数据分析工程师',
       'x10_高级数据分析工程师（深圳）', 'x10_高级数据分析工程师（线上讲师）', 'x10_高级数据分析师',
       'x10_高级数据分析师-faceu', 'x10_高级数据分析师（数据挖掘）', 'x10_高级数据分析师（深圳）',
       'x10_高级数据分析师（深圳） (MJ000046)', 'x11_AKULAKU', 'x11_Amber Group',
       'x11_BLUE', 'x11_BT学院', 'x11_CMGE中手游', 'x11_DJI大疆创新',
       'x11_Deep Lens Fund', 'x11_Gridsum 国双', 'x11_GrowingIO',
       'x11_KLOOK 客路旅行', 'x11_OPPO', 'x11_SHEIN', 'x11_Shopee', 'x11_TCL',
       'x11_TOUCH', 'x11_TRIWIN GAMES', 'x11_WeLab卫盈联', 'x11_YIDATEC',
       'x11_iPIN.com', 'x11_is smart', 'x11_vivo', 'x11_wlaike',
       'x11_一面数据', 'x11_万兴科技集团股份有限公司', 'x11_万顺叫车', 'x11_中数智云', 'x11_乐信',
       'x11_乐凯撒比萨', 'x11_乐家云计算有限公司', 'x11_乐易网络', 'x11_买买提信息科技',
       'x11_云天励飞', 'x11_云途物流', 'x11_亚联财小额贷款', 'x11_京东集团', 'x11_众智辰',
       'x11_优乐学科技', 'x11_传易', 'x11_佰聆数据', 'x11_全棉时代', 'x11_八号仓奥特莱斯',
       'x11_八爪鱼', 'x11_冰川网络', 'x11_凯儿得乐', 'x11_创梦天地', 'x11_前海百川投资管理咨询',
       'x11_千寻万物', 'x11_华为技术有限公司', 'x11_华安保险', 'x11_华策', 'x11_卓轩科技',
       'x11_合生科技', 'x11_吉比特', 'x11_唯艾咨询', 'x11_土巴兔', 'x11_字节跳动',
       'x11_安信易技术', 'x11_安徽省刀锋网络科技有限公司', 'x11_富途', 'x11_小鹅（小鹅通）',
       'x11_尚游游戏', 'x11_希为科技', 'x11_平安产险', 'x11_微众信科', 'x11_微众银行',
       'x11_微创软件', 'x11_志伏贸易', 'x11_快手', 'x11_思空', 'x11_悦动', 'x11_懒人听书',
       'x11_招商证券信息技术中心', 'x11_招商银行', 'x11_招联金融', 'x11_招银网络科技', 'x11_数神科技',
       'x11_昊飞网络', 'x11_晨星Morningstar', 'x11_杰豪科技', 'x11_极光', 'x11_梦享网络',
       'x11_汇合', 'x11_沃菲数字营销', 'x11_法克曼', 'x11_淘乐网络', 'x11_深圳华秋电子有限公司',
       'x11_深圳市丰巢科技有限公司', 'x11_深圳市嘉鸿网络科技有限公司', 'x11_深圳市晨北科技有限公司',
       'x11_游戏宅', 'x11_爱美购', 'x11_爱问医联', 'x11_白骑士', 'x11_百果科技',
       'x11_百融云创', 'x11_盒子科技', 'x11_神策数据', 'x11_禅游', 'x11_立创商城',
       'x11_索信达数据', 'x11_美的电商', 'x11_腾讯', 'x11_自如网', 'x11_芯鑫金科',
       'x11_蓝色光标SNK', 'x11_贝壳', 'x11_货拉拉', 'x11_超级猩猩健身', 'x11_跨海侠',
       'x11_路通网络', 'x11_辉耀互娱', 'x11_迷你玩', 'x11_酷开网络', 'x11_金蝶', 'x11_钱大妈',
       'x11_长亮科技', 'x11_长城证券', 'x11_阿卡索外教网', 'x11_顺丰-丰e足食',
       'x11_顺丰科技有限公司', 'x11_顺丰速运', 'x11_风变科技（深圳）有限公司', 'x11_飞诺达',
       'x11_高灯科技', 'x11_麦风科技', 'x12_A轮', 'x12_B轮', 'x12_C轮', 'x12_D轮及以上',
       'x12_上市公司', 'x12_不需要融资', 'x12_天使轮', 'x12_未融资', 'x13_产品|需求|项目类',
       'x13_商业服务|专业服务', 'x13_市场|商务类', 'x13_开发|测试|运维类', 'x13_运营|编辑|客服类',
       'x13_金融类', 'x14_互联网金融', 'x14_产品经理', 'x14_人工智能', 'x14_咨询|调研',
       'x14_媒介|公关', 'x14_市场|营销', 'x14_数据分析', 'x14_数据开发',
       'x14_证券|基金|信托|期货', 'x14_运营', 'x14_银行', 'x15_南山区', 'x15_宝安区',
       'x15_福田区', 'x15_罗湖区', 'x15_龙华新区', 'x15_龙岗区', 'x16_10k-12k',
       'x16_10k-15k', 'x16_10k-16k', 'x16_10k-18k', 'x16_10k-20k',
       'x16_12k-15k', 'x16_12k-18k', 'x16_12k-20k', 'x16_12k-22k',
       'x16_12k-24k', 'x16_13k-20k', 'x16_13k-23k', 'x16_13k-25k',
       'x16_14k-25k', 'x16_15k-20k', 'x16_15k-25k', 'x16_15k-28k',
       'x16_15k-30k', 'x16_17k-28k', 'x16_18k-25k', 'x16_18k-30k',
       'x16_18k-35k', 'x16_18k-36k', 'x16_1k-2k', 'x16_20k-21k',
       'x16_20k-25k', 'x16_20k-30k', 'x16_20k-34k', 'x16_20k-35k',
       'x16_20k-40k', 'x16_21k-26k', 'x16_24k-45k', 'x16_25k-45k',
       'x16_25k-50k', 'x16_28k-46k', 'x16_2k-3k', 'x16_2k-4k',
       'x16_30k-60k', 'x16_35k-55k', 'x16_35k-70k', 'x16_3k-4k',
       'x16_3k-5k', 'x16_3k-6k', 'x16_40k-80k', 'x16_4k-6k', 'x16_4k-8k',
       'x16_50k-70k', 'x16_5k-10k', 'x16_5k-6k', 'x16_5k-7k', 'x16_5k-8k',
       'x16_5k-9k', 'x16_6k-10k', 'x16_6k-12k', 'x16_6k-8k', 'x16_7k-10k',
       'x16_7k-12k', 'x16_7k-13k', 'x16_7k-14k', 'x16_8k-10k',
       'x16_8k-11k', 'x16_8k-12k', 'x16_8k-13k', 'x16_8k-15k',
       'x16_8k-16k', 'x16_9k-12k', 'x16_9k-14k', 'x17_0', 'x17_1',
       'x17_2', 'x17_3', 'x17_4', 'x17_5', 'x17_6', 'x17_7', 'x17_9',
       'x17_10', 'x17_12', 'x17_15', 'x17_17', 'x17_18', 'x17_19',
       'x17_20', 'x17_21', 'x17_22', 'x17_25', 'x17_26', 'x17_32',
       'x17_33', 'x17_36', 'x17_37', 'x17_38', 'x17_40', 'x17_41',
       'x17_43', 'x17_45', 'x17_49', 'x17_56', 'x17_60', 'x17_62',
       'x17_64', 'x17_65', 'x17_66', 'x17_71', 'x17_73', 'x17_75',
       'x17_76', 'x17_81', 'x17_82', 'x17_91', 'x17_92', 'x17_95',
       'x17_96', 'x17_100', 'x18_0', 'x18_1', 'x18_2', 'x18_3', 'x18_5',
       'x19_0', 'x19_1', 'x19_2', 'x19_3', 'x19_4', 'x19_5', 'x19_6',
       'x19_7', 'x19_10', 'x19_11', 'x19_12', 'x19_13', 'x19_14',
       'x19_15', 'x19_16', 'x19_17', 'x19_18', 'x19_22', 'x19_24',
       'x19_26', 'x19_27', 'x19_28', 'x19_29', 'x19_52', 'x19_53',
       'x19_56', 'x19_60', 'x19_68', 'x19_69', 'x19_89', 'x19_130',
       'x19_179', 'x19_199', 'x20_0', 'x20_1', 'x21_0', 'x21_1'],
      dtype=object)

In [96]:
df['education'].unique()

array(['本科', '大专', '硕士', '不限'], dtype=object)

In [97]:
df['salaryMin'].unique()

array([18, 15, 20,  8,  9, 14, 35, 12, 10,  7,  1,  6, 21,  3,  4, 13, 25,
        5, 50, 17, 40, 30,  2, 24, 28], dtype=int64)